## Notebook Magic

In [2]:
%matplotlib inline
%load_ext autoreload

## Imports

In [3]:
import os
import yaml
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

## Get Intervencoes Table

In [3]:
interv = pd.read_parquet("s3://iefp-unemployment/intermediate/clean/interventions_small.parquet")

In [4]:
interv.shape # 10 mill

(10000000, 26)

## Extract Recommendable Interventions

In [5]:
intervention_codes = yaml.load(open("../conf/base/recommendable_interventions.yml"), Loader=yaml.FullLoader)

In [6]:
interv = interv[interv["codigo_intervencao"].isin(intervention_codes)]

In [7]:
interv.shape # 1,611,788

(1611788, 26)

## Get Journeys Table

In [8]:
journeys = pd.read_parquet("s3://iefp-unemployment/intermediate/transform/journeys_a.parquet")

In [9]:
journeys = journeys.set_index('user_id')

In [10]:
journeys.shape # 1,289,627

(1289627, 28)

In [11]:
journeys.loc[2158897]

,journey_count,register_date,exit_date_21,exit_date_31,exit_reason,register_reason,birth_date,gender,age,disabled,...,parish,center,subsidy,rsi,previous_cpp,previous_job_experience,desired_cpp,desired_location,desired_work_time,desired_contract
user_id,,,,,,,,,,,,,,,,,,,,,
2158897,1.0,2018-02-02,2018-05-21,NaT,NaN,8.0,1980-12-13,M,37.0,0.0,...,121502,474.0,54.0,True,71121.0,240.0,71121.0,C,C,P
2158897,2.0,2018-05-21,NaT,2018-05-21,20.0,8.0,1980-12-13,M,37.0,0.0,...,121502,474.0,24.0,True,71121.0,240.0,71121.0,C,C,P
2158897,3.0,2018-05-21,NaT,2018-05-30,20.0,8.0,1980-12-13,M,37.0,0.0,...,121502,474.0,24.0,True,71121.0,240.0,71121.0,C,C,P
2158897,4.0,2018-10-31,NaT,2019-01-29,20.0,8.0,NaT,None,NaN,NaN,...,None,NaN,NaN,None,NaN,NaN,NaN,None,None,None

## Sort interventions and extract tipo_movimento 35

In [12]:
interv = interv.sort_values(["ute_id", "data_intervencao"])
interv.shape

(1611788, 26)

In [13]:
interv = interv[interv.tipo_movimento == 35]
interv.shape

(393153, 26)

In [14]:
interv.codigo_intervencao = interv.codigo_intervencao.astype('str')

In [15]:
#make unique key in interventions table 
interv['unique_interv'] = range(1, len(interv.index)+1)

## Join to journeys table using date

In [16]:
interv = interv[["ute_id", "data_intervencao", "codigo_intervencao", "resultado_intervencao", "unique_interv"]]

In [17]:
interv = interv.set_index('ute_id')

In [18]:
interv.head()

,data_intervencao,codigo_intervencao,resultado_intervencao,unique_interv
ute_id,,,,
11,2005-12-07,501,1.0,1
38,2016-10-17,772,2.0,2
38,2018-03-19,225,39.0,3
56,2018-06-03,394,90.0,4
108,2017-02-21,507,1.0,5

In [41]:
journeys.head()

                      register_date exit_date_21 exit_date_31  exit_reason  \
user_id journey_count
38      1.0              2017-10-04          NaT   2018-01-15         20.0
        2.0              2018-02-09   2018-06-08          NaT          NaN
44      1.0              2016-12-06   2017-06-08          NaT          NaN
56      1.0              2016-10-31          NaT   2017-01-20         20.0
        2.0              2018-01-15          NaT   2019-01-03         61.0

                       register_reason birth_date gender   age  disabled  \
user_id journey_count
38      1.0                        5.0 1973-06-11      M  44.0       0.0
        2.0                        8.0 1973-06-11      M  44.0       0.0
44      1.0                        8.0 1972-07-06      M  44.0       0.0
56      1.0                        8.0 1979-01-25      M  37.0       0.0
        2.0                        5.0 1979-01-25      M  38.0       0.0

                       dependents  ...  parish center subsidy   rsi  \
user_id journey_count              ...
38      1.0                   1.0  ...  111012  336.0    26.0  True
        2.0                   0.0  ...  111012  336.0    24.0  True
44      1.0                   2.0  ...  110508  336.0    22.0  True
56      1.0                   0.0  ...  130324  119.0     NaN  True
        2.0                   4.0  ...  130324  119.0     NaN  True

                      previous_cpp previous_job_experience desired_cpp  \
user_id journey_count
38      1.0                31140.0                    36.0     31140.0
        2.0                31140.0                    36.0     31140.0
44      1.0                52490.0                    36.0     52490.0
56      1.0                83420.0                   120.0     83420.0
        2.0                41100.0                    12.0     41100.0

                      desired_location  desired_work_time  desired_contract
user_id journey_count
38      1.0                       None                  C                 T
        2.0                       None                  C                 T
44      1.0                          C                  C                 P
56      1.0                          C                  P                 T
        2.0                          C                  C                 P

[5 rows x 27 columns]

In [ ]:
# inner join
join_inner = journeys.iloc[:,0:5].merge(interv, how='inner', left_index=True, right_index=True)
join_inner.shape #261,242

In [20]:
join_inner.head()

,journey_count,register_date,exit_date_21,exit_date_31,exit_reason,data_intervencao,codigo_intervencao,resultado_intervencao,unique_interv
38,1.0,2017-10-04,NaT,2018-01-15,20.0,2016-10-17,772,2.0,2
38,1.0,2017-10-04,NaT,2018-01-15,20.0,2018-03-19,225,39.0,3
38,2.0,2018-02-09,2018-06-08,NaT,NaN,2016-10-17,772,2.0,2
38,2.0,2018-02-09,2018-06-08,NaT,NaN,2018-03-19,225,39.0,3
56,1.0,2016-10-31,NaT,2017-01-20,20.0,2018-06-03,394,90.0,4

## filter out interventions that don't occur within journey dates

In [21]:
join_inner = join_inner[(join_inner.data_intervencao >= join_inner.register_date) 
                        &((join_inner.data_intervencao <= join_inner.exit_date_21)
                        |(join_inner.data_intervencao <= join_inner.exit_date_31))]

In [22]:
join_inner[join_inner.unique_interv == 106111]

,journey_count,register_date,exit_date_21,exit_date_31,exit_reason,data_intervencao,codigo_intervencao,resultado_intervencao,unique_interv
2158897,1.0,2018-02-02,2018-05-21,NaT,NaN,2018-05-21,230,39.0,106111
2158897,2.0,2018-05-21,NaT,2018-05-21,20.0,2018-05-21,230,39.0,106111
2158897,3.0,2018-05-21,NaT,2018-05-30,20.0,2018-05-21,230,39.0,106111

In [23]:
join_inner[(join_inner.register_date == join_inner.exit_date_31) | (join_inner.register_date == join_inner.exit_date_21)].head(8)

,journey_count,register_date,exit_date_21,exit_date_31,exit_reason,data_intervencao,codigo_intervencao,resultado_intervencao,unique_interv
9185,1.0,2016-11-03,2017-11-26,2016-11-03,99.0,2017-01-03,506,25.0,342
66648,1.0,2016-10-23,2016-10-23,2019-01-10,44.0,2018-06-18,225,39.0,2146
114002,5.0,2018-12-04,2019-02-12,2018-12-04,99.0,2019-01-25,7005,1.0,3605
141190,1.0,2016-10-02,2016-10-02,2018-12-12,11.0,2016-10-31,770,1.0,4815
173438,1.0,2018-02-21,NaT,2018-02-21,61.0,2018-02-21,327,24.0,5804
199535,1.0,2016-09-22,2016-09-22,2019-05-27,11.0,2018-04-10,230,86.0,6710
199535,1.0,2016-09-22,2016-09-22,2019-05-27,11.0,2018-04-10,225,39.0,6711
226552,1.0,2016-11-30,2018-07-30,2016-11-30,20.0,2017-11-24,506,1.0,7604

## Filter sucessful interventions

In [24]:
sucess = [1,3,4,5,8,9,10,11,12,14,15,20,31,54,55,56,88,91,98]
join_inner = join_inner[join_inner.resultado_intervencao.isin(sucess)]
join_inner.shape

(60901, 9)

In [25]:
join_inner.codigo_intervencao.drop_duplicates().shape

(60,)

## Pivot table

In [26]:
join_inner = join_inner.reset_index().rename(columns={"index": "user_id"})

In [27]:
join_inner.head()
join_inner = join_inner[["user_id","journey_count","data_intervencao","codigo_intervencao"]]

In [28]:
join_inner = join_inner = join_inner.set_index(["user_id","journey_count"])

In [29]:
join_inner = join_inner.pivot_table(index = ["user_id", "journey_count"], columns = ["codigo_intervencao"], aggfunc=np.min)

In [30]:
join_inner.columns = ['_'.join(col).strip() for col in join_inner.columns.values]

In [31]:
join_inner.head()

,,data_intervencao_207,data_intervencao_208,data_intervencao_218,data_intervencao_219,data_intervencao_225,data_intervencao_226,data_intervencao_235,data_intervencao_319,data_intervencao_321,data_intervencao_323,...,data_intervencao_791,data_intervencao_794,data_intervencao_795,data_intervencao_796,data_intervencao_797,data_intervencao_9902,data_intervencao_9903,data_intervencao_9904,data_intervencao_9906,data_intervencao_9907
user_id,journey_count,,,,,,,,,,,,,,,,,,,,,
574,1.0,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2018-05-18,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
724,3.0,NaT,2018-06-05,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
749,1.0,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1687,2.0,NaT,2018-08-09,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1725,2.0,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [33]:
join_inner.shape

(55454, 60)

## Join to journeys table

In [37]:
journeys.head()

                      register_date exit_date_21 exit_date_31  exit_reason  \
user_id journey_count
38      1.0              2017-10-04          NaT   2018-01-15         20.0
        2.0              2018-02-09   2018-06-08          NaT          NaN
44      1.0              2016-12-06   2017-06-08          NaT          NaN
56      1.0              2016-10-31          NaT   2017-01-20         20.0
        2.0              2018-01-15          NaT   2019-01-03         61.0

                       register_reason birth_date gender   age  disabled  \
user_id journey_count
38      1.0                        5.0 1973-06-11      M  44.0       0.0
        2.0                        8.0 1973-06-11      M  44.0       0.0
44      1.0                        8.0 1972-07-06      M  44.0       0.0
56      1.0                        8.0 1979-01-25      M  37.0       0.0
        2.0                        5.0 1979-01-25      M  38.0       0.0

                       dependents  ...  parish center subsidy   rsi  \
user_id journey_count              ...
38      1.0                   1.0  ...  111012  336.0    26.0  True
        2.0                   0.0  ...  111012  336.0    24.0  True
44      1.0                   2.0  ...  110508  336.0    22.0  True
56      1.0                   0.0  ...  130324  119.0     NaN  True
        2.0                   4.0  ...  130324  119.0     NaN  True

                      previous_cpp previous_job_experience desired_cpp  \
user_id journey_count
38      1.0                31140.0                    36.0     31140.0
        2.0                31140.0                    36.0     31140.0
44      1.0                52490.0                    36.0     52490.0
56      1.0                83420.0                   120.0     83420.0
        2.0                41100.0                    12.0     41100.0

                      desired_location  desired_work_time  desired_contract
user_id journey_count
38      1.0                       None                  C                 T
        2.0                       None                  C                 T
44      1.0                          C                  C                 P
56      1.0                          C                  P                 T
        2.0                          C                  C                 P

[5 rows x 27 columns]

In [36]:
journeys = journeys.reset_index().rename(columns={"index": "user_id"})
journeys = journeys.set_index(["user_id","journey_count"])

In [39]:
output = journeys.merge(join_inner, left_index = True, right_index = True, how = "inner")
output.head()

,,register_date,exit_date_21,exit_date_31,exit_reason,register_reason,birth_date,gender,age,disabled,dependents,...,data_intervencao_791,data_intervencao_794,data_intervencao_795,data_intervencao_796,data_intervencao_797,data_intervencao_9902,data_intervencao_9903,data_intervencao_9904,data_intervencao_9906,data_intervencao_9907
user_id,journey_count,,,,,,,,,,,,,,,,,,,,,
574,1.0,2017-06-30,NaT,2018-05-18,61.0,5.0,1976-05-06,M,41.0,0.0,2.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
724,3.0,2018-04-18,NaT,2018-12-19,44.0,15.0,1978-12-13,F,39.0,0.0,1.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
749,1.0,2017-05-23,2017-10-15,NaT,NaN,12.0,1967-02-11,F,50.0,0.0,1.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1687,2.0,2018-07-10,NaT,2019-02-07,20.0,8.0,1976-03-11,M,42.0,0.0,2.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1725,2.0,2016-10-21,NaT,2018-06-22,20.0,8.0,1977-06-04,M,39.0,0.0,1.0,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [40]:
output.shape

(55454, 87)

In [68]:
read = pd.read_parquet("s3://iefp-unemployment/intermediate/transform/transform_interventions.parquet")

In [69]:
read.head()

                      register_date exit_date_21 exit_date_31  exit_reason  \
user_id journey_count
38      1.0              2017-10-04          NaT   2018-01-15         20.0
        2.0              2018-02-09   2018-06-08          NaT          NaN
44      1.0              2016-12-06   2017-06-08          NaT          NaN
56      1.0              2016-10-31          NaT   2017-01-20         20.0
        2.0              2018-01-15          NaT   2019-01-03         61.0

                       register_reason data_intervencao_101  \
user_id journey_count
38      1.0                        5.0           2017-10-04
        2.0                        8.0           2018-02-09
44      1.0                        8.0                  NaT
56      1.0                        8.0                  NaT
        2.0                        5.0           2018-01-15

                      data_intervencao_102 data_intervencao_103  \
user_id journey_count
38      1.0                     2018-01-15                  NaT
        2.0                     2018-03-22                  NaT
44      1.0                     2017-06-08           2017-04-06
56      1.0                     2017-01-20                  NaT
        2.0                     2018-06-26           2018-04-06

                      data_intervencao_207 data_intervencao_208  ...  \
user_id journey_count                                            ...
38      1.0                            NaT                  NaT  ...
        2.0                            NaT                  NaT  ...
44      1.0                            NaT                  NaT  ...
56      1.0                            NaT                  NaT  ...
        2.0                            NaT                  NaT  ...

                      data_intervencao_794 data_intervencao_795  \
user_id journey_count
38      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
44      1.0                            NaT                  NaT
56      1.0                            NaT                  NaT
        2.0                            NaT                  NaT

                      data_intervencao_796 data_intervencao_797  \
user_id journey_count
38      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
44      1.0                            NaT                  NaT
56      1.0                            NaT                  NaT
        2.0                            NaT                  NaT

                      data_intervencao_9902 data_intervencao_9903  \
user_id journey_count
38      1.0                             NaT                   NaT
        2.0                             NaT                   NaT
44      1.0                             NaT                   NaT
56      1.0                             NaT                   NaT
        2.0                             NaT                   NaT

                      data_intervencao_9904 data_intervencao_9906  \
user_id journey_count
38      1.0                             NaT                   NaT
        2.0                             NaT                   NaT
44      1.0                             NaT                   NaT
56      1.0                             NaT                   NaT
        2.0                             NaT                   NaT

                      data_intervencao_9907 data_intervencao_9999
user_id journey_count
38      1.0                             NaT                   NaT
        2.0                             NaT                   NaT
44      1.0                             NaT                   NaT
56      1.0                             NaT                   NaT
        2.0                             NaT                   NaT

[5 rows x 95 columns]

In [44]:
read.columns.values

array(['register_date', 'exit_date_21', 'exit_date_31', 'exit_reason',
       'register_reason', 'data_intervencao_101', 'data_intervencao_102',
       'data_intervencao_103', 'data_intervencao_207',
       'data_intervencao_208', 'data_intervencao_210',
       'data_intervencao_212', 'data_intervencao_218',
       'data_intervencao_219', 'data_intervencao_222',
       'data_intervencao_225', 'data_intervencao_226',
       'data_intervencao_231', 'data_intervencao_232',
       'data_intervencao_233', 'data_intervencao_234',
       'data_intervencao_235', 'data_intervencao_236',
       'data_intervencao_319', 'data_intervencao_321',
       'data_intervencao_323', 'data_intervencao_327',
       'data_intervencao_328', 'data_intervencao_329',
       'data_intervencao_394', 'data_intervencao_395',
       'data_intervencao_396', 'data_intervencao_398',
       'data_intervencao_399', 'data_intervencao_404',
       'data_intervencao_416', 'data_intervencao_427',
       'data_intervencao_428', 'data_intervencao_429',
       'data_intervencao_430', 'data_intervencao_506',
       'data_intervencao_507', 'data_intervencao_602',
       'data_intervencao_603', 'data_intervencao_609',
       'data_intervencao_610', 'data_intervencao_611',
       'data_intervencao_612', 'data_intervencao_613',
       'data_intervencao_615', 'data_intervencao_700',
       'data_intervencao_7001', 'data_intervencao_7002',
       'data_intervencao_7003', 'data_intervencao_7004',
       'data_intervencao_7005', 'data_intervencao_7007',
       'data_intervencao_7008', 'data_intervencao_7013',
       'data_intervencao_7016', 'data_intervencao_7017',
       'data_intervencao_7018', 'data_intervencao_7019',
       'data_intervencao_703', 'data_intervencao_7102',
       'data_intervencao_728', 'data_intervencao_729',
       'data_intervencao_733', 'data_intervencao_735',
       'data_intervencao_739', 'data_intervencao_742',
       'data_intervencao_745', 'data_intervencao_747',
       'data_intervencao_749', 'data_intervencao_767',
       'data_intervencao_768', 'data_intervencao_769',
       'data_intervencao_770', 'data_intervencao_771',
       'data_intervencao_772', 'data_intervencao_777',
       'data_intervencao_778', 'data_intervencao_784',
       'data_intervencao_785', 'data_intervencao_791',
       'data_intervencao_794', 'data_intervencao_795',
       'data_intervencao_796', 'data_intervencao_797',
       'data_intervencao_9902', 'data_intervencao_9903',
       'data_intervencao_9904', 'data_intervencao_9906',
       'data_intervencao_9907', 'data_intervencao_9999',
       'exit_date_21_101', 'exit_date_21_102', 'exit_date_21_103',
       'exit_date_21_207', 'exit_date_21_208', 'exit_date_21_210',
       'exit_date_21_212', 'exit_date_21_218', 'exit_date_21_225',
       'exit_date_21_226', 'exit_date_21_233', 'exit_date_21_235',
       'exit_date_21_394', 'exit_date_21_395', 'exit_date_21_396',
       'exit_date_21_398', 'exit_date_21_399', 'exit_date_21_416',
       'exit_date_21_427', 'exit_date_21_428', 'exit_date_21_429',
       'exit_date_21_506', 'exit_date_21_507', 'exit_date_21_603',
       'exit_date_21_609', 'exit_date_21_610', 'exit_date_21_611',
       'exit_date_21_613', 'exit_date_21_700', 'exit_date_21_7001',
       'exit_date_21_7002', 'exit_date_21_7003', 'exit_date_21_7004',
       'exit_date_21_7005', 'exit_date_21_7007', 'exit_date_21_7013',
       'exit_date_21_7016', 'exit_date_21_7017', 'exit_date_21_7018',
       'exit_date_21_7019', 'exit_date_21_7102', 'exit_date_21_728',
       'exit_date_21_729', 'exit_date_21_733', 'exit_date_21_735',
       'exit_date_21_742', 'exit_date_21_745', 'exit_date_21_767',
       'exit_date_21_768', 'exit_date_21_769', 'exit_date_21_770',
       'exit_date_21_771', 'exit_date_21_772', 'exit_date_21_777',
       'exit_date_21_778', 'exit_date_21_784', 'exit_date_21_785',
       'exit_date_21_791', 'exit_date_21_794', 'exit_date_21_795',
       'exit_date_21_796', 'exit_date_21_797', 'exit_date_21_9902',
       'exit_date_21_9903', 'exit_date_21_9904', 'exit_date_21_9999',
       'exit_date_31_101', 'exit_date_31_102', 'exit_date_31_103',
       'exit_date_31_207', 'exit_date_31_208', 'exit_date_31_210',
       'exit_date_31_212', 'exit_date_31_218', 'exit_date_31_219',
       'exit_date_31_222', 'exit_date_31_225', 'exit_date_31_226',
       'exit_date_31_231', 'exit_date_31_232', 'exit_date_31_233',
       'exit_date_31_234', 'exit_date_31_235', 'exit_date_31_236',
       'exit_date_31_319', 'exit_date_31_321', 'exit_date_31_323',
       'exit_date_31_327', 'exit_date_31_328', 'exit_date_31_329',
       'exit_date_31_394', 'exit_date_31_395', 'exit_date_31_396',
       'exit_date_31_398', 'exit_date_31_399', 'exit_date_31_404',
       'exit_date_31_416', 'exit_date_31_427', 'exit_date_31_428',
       'exit_date_31_429', 'exit_date_31_430', 'exit_date_31_506',
       'exit_date_31_507', 'exit_date_31_602', 'exit_date_31_603',
       'exit_date_31_609', 'exit_date_31_610', 'exit_date_31_611',
       'exit_date_31_612', 'exit_date_31_613', 'exit_date_31_615',
       'exit_date_31_700', 'exit_date_31_7001', 'exit_date_31_7002',
       'exit_date_31_7003', 'exit_date_31_7004', 'exit_date_31_7005',
       'exit_date_31_7007', 'exit_date_31_7008', 'exit_date_31_7013',
       'exit_date_31_7016', 'exit_date_31_7017', 'exit_date_31_7018',
       'exit_date_31_7019', 'exit_date_31_703', 'exit_date_31_7102',
       'exit_date_31_728', 'exit_date_31_729', 'exit_date_31_733',
       'exit_date_31_735', 'exit_date_31_739', 'exit_date_31_742',
       'exit_date_31_745', 'exit_date_31_747', 'exit_date_31_749',
       'exit_date_31_767', 'exit_date_31_768', 'exit_date_31_769',
       'exit_date_31_770', 'exit_date_31_771', 'exit_date_31_772',
       'exit_date_31_777', 'exit_date_31_778', 'exit_date_31_784',
       'exit_date_31_785', 'exit_date_31_791', 'exit_date_31_794',
       'exit_date_31_795', 'exit_date_31_796', 'exit_date_31_797',
       'exit_date_31_9902', 'exit_date_31_9903', 'exit_date_31_9904',
       'exit_date_31_9906', 'exit_date_31_9907', 'exit_date_31_9999',
       'exit_reason_101', 'exit_reason_102', 'exit_reason_103',
       'exit_reason_207', 'exit_reason_208', 'exit_reason_210',
       'exit_reason_212', 'exit_reason_218', 'exit_reason_219',
       'exit_reason_222', 'exit_reason_225', 'exit_reason_226',
       'exit_reason_231', 'exit_reason_232', 'exit_reason_233',
       'exit_reason_234', 'exit_reason_235', 'exit_reason_236',
       'exit_reason_319', 'exit_reason_321', 'exit_reason_323',
       'exit_reason_327', 'exit_reason_328', 'exit_reason_329',
       'exit_reason_394', 'exit_reason_395', 'exit_reason_396',
       'exit_reason_398', 'exit_reason_399', 'exit_reason_404',
       'exit_reason_416', 'exit_reason_427', 'exit_reason_428',
       'exit_reason_429', 'exit_reason_430', 'exit_reason_506',
       'exit_reason_507', 'exit_reason_602', 'exit_reason_603',
       'exit_reason_609', 'exit_reason_610', 'exit_reason_611',
       'exit_reason_612', 'exit_reason_613', 'exit_reason_615',
       'exit_reason_700', 'exit_reason_7001', 'exit_reason_7002',
       'exit_reason_7003', 'exit_reason_7004', 'exit_reason_7005',
       'exit_reason_7007', 'exit_reason_7008', 'exit_reason_7013',
       'exit_reason_7016', 'exit_reason_7017', 'exit_reason_7018',
       'exit_reason_7019', 'exit_reason_703', 'exit_reason_7102',
       'exit_reason_728', 'exit_reason_729', 'exit_reason_733',
       'exit_reason_735', 'exit_reason_739', 'exit_reason_742',
       'exit_reason_745', 'exit_reason_747', 'exit_reason_749',
       'exit_reason_767', 'exit_reason_768', 'exit_reason_769',
       'exit_reason_770', 'exit_reason_771', 'exit_reason_772',
       'exit_reason_777', 'exit_reason_778', 'exit_reason_784',
       'exit_reason_785', 'exit_reason_791', 'exit_reason_794',
       'exit_reason_795', 'exit_reason_796', 'exit_reason_797',
       'exit_reason_9902', 'exit_reason_9903', 'exit_reason_9904',
       'exit_reason_9906', 'exit_reason_9907', 'exit_reason_9999',
       'register_date_101', 'register_date_102', 'register_date_103',
       'register_date_207', 'register_date_208', 'register_date_210',
       'register_date_212', 'register_date_218', 'register_date_219',
       'register_date_222', 'register_date_225', 'register_date_226',
       'register_date_231', 'register_date_232', 'register_date_233',
       'register_date_234', 'register_date_235', 'register_date_236',
       'register_date_319', 'register_date_321', 'register_date_323',
       'register_date_327', 'register_date_328', 'register_date_329',
       'register_date_394', 'register_date_395', 'register_date_396',
       'register_date_398', 'register_date_399', 'register_date_404',
       'register_date_416', 'register_date_427', 'register_date_428',
       'register_date_429', 'register_date_430', 'register_date_506',
       'register_date_507', 'register_date_602', 'register_date_603',
       'register_date_609', 'register_date_610', 'register_date_611',
       'register_date_612', 'register_date_613', 'register_date_615',
       'register_date_700', 'register_date_7001', 'register_date_7002',
       'register_date_7003', 'register_date_7004', 'register_date_7005',
       'register_date_7007', 'register_date_7008', 'register_date_7013',
       'register_date_7016', 'register_date_7017', 'register_date_7018',
       'register_date_7019', 'register_date_703', 'register_date_7102',
       'register_date_728', 'register_date_729', 'register_date_733',
       'register_date_735', 'register_date_739', 'register_date_742',
       'register_date_745', 'register_date_747', 'register_date_749',
       'register_date_767', 'register_date_768', 'register_date_769',
       'register_date_770', 'register_date_771', 'register_date_772',
       'register_date_777', 'register_date_778', 'register_date_784',
       'register_date_785', 'register_date_791', 'register_date_794',
       'register_date_795', 'register_date_796', 'register_date_797',
       'register_date_9902', 'register_date_9903', 'register_date_9904',
       'register_date_9906', 'register_date_9907', 'register_date_9999'],
      dtype=object)

In [4]:
sucess = [1,3,4,5,8,9,10,11,12,14,15,20,31,54,55,56,88,91,98]
df_interv = pd.read_parquet("s3://iefp-unemployment/intermediate/clean/interventions_small.parquet")
df_journ = pd.read_parquet("s3://iefp-unemployment/intermediate/transform/journeys_a.parquet")

In [5]:
# Filter interventions
df_interv = df_interv[df_interv.tipo_movimento == 35]
df_interv = df_interv[df_interv.resultado_intervencao.isin(sucess)]
df_interv = df_interv[["ute_id", "data_intervencao", "codigo_intervencao"]]
df_interv.codigo_intervencao = df_interv.codigo_intervencao.astype('str') 
df_interv.head()

    ute_id data_intervencao codigo_intervencao
1    88081       2019-07-01                226
3  6905559       2019-07-02                103
5  6905559       2019-07-02                212
6  6905559       2019-07-02                103
7  6905559       2019-07-02                103

In [6]:
# Set index's and merge with basic jouney info
df_interv = df_interv.set_index('ute_id') 
df_journ = df_journ.set_index('user_id')
df_out = df_journ.iloc[:,0:5].merge(df_interv, how='inner', left_index=True, right_index=True)
df_out.head()

,journey_count,register_date,exit_date_21,exit_date_31,exit_reason,data_intervencao,codigo_intervencao
38,1.0,2017-10-04,NaT,2018-01-15,20.0,NaT,7013
38,1.0,2017-10-04,NaT,2018-01-15,20.0,2018-03-22,102
38,1.0,2017-10-04,NaT,2018-01-15,20.0,2018-03-02,7001
38,2.0,2018-02-09,2018-06-08,NaT,NaN,NaT,7013
38,2.0,2018-02-09,2018-06-08,NaT,NaN,2018-03-22,102

In [7]:
# Filter for interventions that occur between journey dates
df_out = df_out[(df_out.data_intervencao >= df_out.register_date) 
                        &((df_out.data_intervencao <= df_out.exit_date_21)
                        |(df_out.data_intervencao <= df_out.exit_date_31))]
df_out = df_out[["journey_count","data_intervencao","codigo_intervencao"]]
df_out.head()

    journey_count data_intervencao codigo_intervencao
38            2.0       2018-03-22                102
38            2.0       2018-03-02               7001
56            2.0       2018-06-26                398
56            2.0       2018-06-26                102
56            2.0       2018-04-27               7001

In [8]:
# Pivot table
df_out = df_out.reset_index().rename(columns={"index": "user_id"})
df_out = df_out = df_out.set_index(["user_id","journey_count"])
df_out = df_out.pivot_table(index = ["user_id", "journey_count"], columns = ["codigo_intervencao"], aggfunc=np.min)
df_out.columns = ['_'.join(col).strip() for col in df_out.columns.values]
df_out.head()

                      data_intervencao_101 data_intervencao_102  \
user_id journey_count
38      2.0                            NaT           2018-03-22
56      2.0                            NaT           2018-06-26
59      1.0                            NaT           2018-03-26
        2.0                     2018-11-13           2019-03-12
90      2.0                     2019-04-17           2019-05-10

                      data_intervencao_103 data_intervencao_207  \
user_id journey_count
38      2.0                            NaT                  NaT
56      2.0                     2018-04-06                  NaT
59      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
90      2.0                            NaT                  NaT

                      data_intervencao_208 data_intervencao_210  \
user_id journey_count
38      2.0                            NaT                  NaT
56      2.0                            NaT                  NaT
59      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
90      2.0                            NaT                  NaT

                      data_intervencao_212 data_intervencao_218  \
user_id journey_count
38      2.0                            NaT                  NaT
56      2.0                            NaT                  NaT
59      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
90      2.0                            NaT                  NaT

                      data_intervencao_219 data_intervencao_222  ...  \
user_id journey_count                                            ...
38      2.0                            NaT                  NaT  ...
56      2.0                            NaT                  NaT  ...
59      1.0                            NaT                  NaT  ...
        2.0                            NaT                  NaT  ...
90      2.0                            NaT                  NaT  ...

                      data_intervencao_794 data_intervencao_795  \
user_id journey_count
38      2.0                            NaT                  NaT
56      2.0                            NaT                  NaT
59      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
90      2.0                            NaT                  NaT

                      data_intervencao_796 data_intervencao_797  \
user_id journey_count
38      2.0                            NaT                  NaT
56      2.0                            NaT                  NaT
59      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
90      2.0                            NaT                  NaT

                      data_intervencao_9902 data_intervencao_9903  \
user_id journey_count
38      2.0                             NaT                   NaT
56      2.0                             NaT                   NaT
59      1.0                             NaT                   NaT
        2.0                             NaT                   NaT
90      2.0                             NaT                   NaT

                      data_intervencao_9904 data_intervencao_9906  \
user_id journey_count
38      2.0                             NaT                   NaT
56      2.0                             NaT                   NaT
59      1.0                             NaT                   NaT
        2.0                             NaT                   NaT
90      2.0                             NaT                   NaT

                      data_intervencao_9907 data_intervencao_9999
user_id journey_count
38      2.0                             NaT                   NaT
56      2.0                             NaT                   NaT
59      1.0                             NaT                   NaT
        2.0                             NaT                   NaT
90      2.0                             NaT                   NaT

[5 rows x 87 columns]

In [9]:
# Merge pivot table with full journey table
df_journ = df_journ.reset_index().rename(columns={"index": "user_id"})
df_journ = df_journ.set_index(["user_id","journey_count"])
df_out = df_out = df_journ.merge(df_out, left_index = True, right_index = True, how = "inner")
df_out.head()

                      register_date exit_date_21 exit_date_31  exit_reason  \
user_id journey_count
38      2.0              2018-02-09   2018-06-08          NaT          NaN
56      2.0              2018-01-15          NaT   2019-01-03         61.0
59      1.0              2017-12-20          NaT   2018-03-26         20.0
        2.0              2018-11-13          NaT   2019-03-12         11.0
90      2.0              2019-04-17          NaT   2019-05-10         20.0

                       register_reason birth_date gender   age  disabled  \
user_id journey_count
38      2.0                        8.0 1973-06-11      M  44.0       0.0
56      2.0                        5.0 1979-01-25      M  38.0       0.0
59      1.0                        8.0 1971-09-14      F  46.0       0.0
        2.0                        5.0 1971-09-14      F  47.0       0.0
90      2.0                        7.0 1971-07-20      F  47.0       0.0

                       dependents  ... data_intervencao_794  \
user_id journey_count              ...
38      2.0                   0.0  ...                  NaT
56      2.0                   4.0  ...                  NaT
59      1.0                   2.0  ...                  NaT
        2.0                   2.0  ...                  NaT
90      2.0                   0.0  ...                  NaT

                      data_intervencao_795 data_intervencao_796  \
user_id journey_count
38      2.0                            NaT                  NaT
56      2.0                            NaT                  NaT
59      1.0                            NaT                  NaT
        2.0                            NaT                  NaT
90      2.0                            NaT                  NaT

                      data_intervencao_797 data_intervencao_9902  \
user_id journey_count
38      2.0                            NaT                   NaT
56      2.0                            NaT                   NaT
59      1.0                            NaT                   NaT
        2.0                            NaT                   NaT
90      2.0                            NaT                   NaT

                      data_intervencao_9903 data_intervencao_9904  \
user_id journey_count
38      2.0                             NaT                   NaT
56      2.0                             NaT                   NaT
59      1.0                             NaT                   NaT
        2.0                             NaT                   NaT
90      2.0                             NaT                   NaT

                      data_intervencao_9906  data_intervencao_9907  \
user_id journey_count
38      2.0                             NaT                    NaT
56      2.0                             NaT                    NaT
59      1.0                             NaT                    NaT
        2.0                             NaT                    NaT
90      2.0                             NaT                    NaT

                       data_intervencao_9999
user_id journey_count
38      2.0                              NaT
56      2.0                              NaT
59      1.0                              NaT
        2.0                              NaT
90      2.0                              NaT

[5 rows x 114 columns]

In [64]:
df_out.columns.values

array(['register_date', 'exit_date_21', 'exit_date_31', 'exit_reason',
       'register_reason', 'birth_date', 'gender', 'age', 'disabled',
       'dependents', 'professional_training', 'profession_card',
       'school_qualification', 'college_qualification', 'civil_status',
       'registration_type', 'nationality', 'parish', 'center', 'subsidy',
       'rsi', 'previous_cpp', 'previous_job_experience', 'desired_cpp',
       'desired_location', 'desired_work_time', 'desired_contract',
       'data_intervencao_101', 'data_intervencao_102',
       'data_intervencao_103', 'data_intervencao_207',
       'data_intervencao_208', 'data_intervencao_210',
       'data_intervencao_212', 'data_intervencao_218',
       'data_intervencao_219', 'data_intervencao_222',
       'data_intervencao_225', 'data_intervencao_226',
       'data_intervencao_231', 'data_intervencao_232',
       'data_intervencao_234', 'data_intervencao_235',
       'data_intervencao_236', 'data_intervencao_319',
       'data_intervencao_321', 'data_intervencao_323',
       'data_intervencao_327', 'data_intervencao_328',
       'data_intervencao_329', 'data_intervencao_394',
       'data_intervencao_395', 'data_intervencao_396',
       'data_intervencao_398', 'data_intervencao_399',
       'data_intervencao_404', 'data_intervencao_416',
       'data_intervencao_427', 'data_intervencao_428',
       'data_intervencao_429', 'data_intervencao_430',
       'data_intervencao_506', 'data_intervencao_507',
       'data_intervencao_603', 'data_intervencao_609',
       'data_intervencao_610', 'data_intervencao_611',
       'data_intervencao_612', 'data_intervencao_613',
       'data_intervencao_615', 'data_intervencao_700',
       'data_intervencao_7001', 'data_intervencao_7002',
       'data_intervencao_7003', 'data_intervencao_7004',
       'data_intervencao_7005', 'data_intervencao_7007',
       'data_intervencao_7008', 'data_intervencao_7013',
       'data_intervencao_7016', 'data_intervencao_7017',
       'data_intervencao_7018', 'data_intervencao_7019',
       'data_intervencao_7102', 'data_intervencao_728',
       'data_intervencao_729', 'data_intervencao_733',
       'data_intervencao_735', 'data_intervencao_739',
       'data_intervencao_742', 'data_intervencao_745',
       'data_intervencao_747', 'data_intervencao_749',
       'data_intervencao_767', 'data_intervencao_768',
       'data_intervencao_769', 'data_intervencao_770',
       'data_intervencao_771', 'data_intervencao_772',
       'data_intervencao_777', 'data_intervencao_778',
       'data_intervencao_784', 'data_intervencao_785',
       'data_intervencao_791', 'data_intervencao_794',
       'data_intervencao_795', 'data_intervencao_796',
       'data_intervencao_797', 'data_intervencao_9902',
       'data_intervencao_9903', 'data_intervencao_9904',
       'data_intervencao_9906', 'data_intervencao_9907',
       'data_intervencao_9999'], dtype=object)